name: Prettier Check

on:
  pull_request:
  push:

jobs:
  prettier-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      
      - name: Use Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '14.x'
          
      - name: Install Prettier
        run: npm install --save-dev prettier
        
      - name: Check Prettier formatting
        run: npx prettier --check .
